@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Press+Start+2P&family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/filmreel.jpg);
  background-color: #cccccc;
}

aside {
  width: 20vw;
}

header {
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#nav-links li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Concert One', cursive;
  
}

input {
  margin: 5px;
}

#watch-later-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#watch-later-list ul li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  padding: 5px 0px 5px 0px;
}

#watch-later-list ul li img {
  height: 120px;
  width: auto;
}


#watch-later-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li img {
  padding-left: 10px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #5626C4;
}

h1 {
font-size: 2rem;
font-family: 'Press Start 2P', cursive;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Concert One', cursive;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px 0px 10px 0px;
  color: white;
  font-family: 'Concert One', cursive;
}

* {
  font-family: 'Roboto', sans-serif;
}

fieldset {
  display: flex;
  justify-content: center;
}

#boxparent{
  display: flex;
  flex-direction: column;
}

.boxdiv{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.box {
  height: 200px;
  width: 250px;
  background-color: #2CCCC3;
  color: rgb(0, 0, 0);
  padding: 60px 0 40px;
  border: solid 5px #E60576;
  margin: 0;
  display:flex;
  flex-direction: column;
  font-size:larger;
  border-radius: 50px;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

legend {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-size: 25px;
  color:#FACD3D;
}

.active{
  margin: 10px auto;
  width: 200px;
  padding: 22px; ;
  color: #FACD3D;
  background-color: transparent; 
  border: 2px solid #E60576; 
  border-radius: 5px; 
  text-transform: uppercase;   
}

button:hover{
  background-color: #5626C4;
}

#buttonresults {
  display:flex; 
  margin: 0 auto;
  text-align:center;
  background-color: transparent; 
}

#filtered-list {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

#filtered-list,
#filtered-list>* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 2em;
  color: #FACD3D;
  font-size: 10pt;
}

#filtered-list>li {
  width: 100px;
  height: 200px;
  align-items: flex-end;
  align-content: flex-end;
}

.img-container>img {
  height: 120px;
  width: auto;
  align-self: center;
}

#filtered-list>*>button {
  width: 100px;
  border: 2px solid #E60576;
}

div#quiz-results>* {
  color: white;
  background-color: transparent; 
  border: 2px solid #E60576; 
  border-radius: 5px; 
  text-transform: uppercase;
}

.profilecolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dev-profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  max-width: 325px;
  height: 450px;
  padding: 35px;
  background-color: #e1e1dd;
  border: solid 5px #E60576;
  line-height:2;
  border-radius: 50px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.dev-profiles>p {
  flex: 1;
}

.profile-pics {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  margin: auto;
}

footer {
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #ffffff;
  border-top-color:#bbb;
  opacity:0.5;
  margin:auto;
}
